<html>
<head>
</head
<body>
<form action="/answer" data-turbo="false" method="get" >
  <label for="question">Your question</label>
  <input type="text" id="question" name="quest" value="<%= params[:quest] %>">
  <input type="submit" value="Ask!">
</form>
</body>

</html>
